/* colors:
    #0D1B1E
    #0D1B1E
    #C3DBC5
    #E8DCB9
    #F2CEE6
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #0D1B1E;
}

a {
  text-decoration: none;
  color: #0D1B1E;
}

.bgImage {
  background-image: url('./images/waterfall.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  position: absolute;
  top: 1rem
}

.navList {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  padding-top: 1rem;
  margin-right: 4rem;
}

.navItem {
  margin: 0 1.5rem;
}

.navLink:hover {
  color:#F2CEE6;
}

.navLink {
  color:white;
  text-decoration: none;
}
.homeTextContainer {
  text-align: center;
  color: white;
}

.mainTitle {
  font-size: 5.5rem;
  font-weight: 100;
  animation: fadeIn .5s ease-in;

}

.subTitle {
  font-size: 2.5rem;
  font-weight: lighter;
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

.headingContainer {
  padding-top: 1rem;
  width:100%;
}

.hr-text {
  line-height: 3rem;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .9;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: #F2CEE6;
  width: 100%;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #F2CEE6, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #0D1B1E;
  background-color: #fff;
}

.aboutSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutContainerParent {
  display: flex;
  justify-content: center;
}

.aboutContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
}

.profilePic {
  border-radius: 50%;
  border: 7px solid #F2CEE6;

}

.picContainer {
  flex: 40%;
  display: flex;
  align-items: center;
}

.textContentContainer {
  flex: 60%
}

.aboutTitle {
  color: #7798AB;
  margin-top: 3rem;
}
.launchLink {
  color:#0D1B1E;
  font-weight: 900;
  text-decoration: underline;
}


.skillsSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.skillItemContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
}

.skillItem {
  width: 475px;
  text-align: center;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.icon{
  width: 75px;
  height: 75px;
}
.skillTitle{
  color:#7798AB;

}

.skillSubText {
  margin-left:.5rem;
  margin-right: .5rem;
  font-weight: 100;
}

.skillList {
  list-style-type: circle;
  list-style-position: outside;
  list-style-image: none;
  color: #b43088;
  font-size: 20px;
}

.skillBullets {
  padding: .5rem;
  margin-left: 3.5rem; 
  margin-right: 3.5rem;
  margin-bottom: 2rem;  
}

.projectsSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
}

.card {
  height: 600px;
  width: 450px;
  margin: 1rem 1rem 2rem 1rem;
}

.cardText {
  height: 100px;
}

.projectPic {
  width:450px;
  height:300px;
}

.imgOverlay {
  background-color: black;
  width:450px;
  height:300px;
  opacity: .8;
  position: absolute;
  top:0
}

.webGit {
  margin: 0;
  margin-right:15px;
  margin-left: 3px;
}

.webGitLink{
  color:#7798AB;
}
.webGitLink:hover{
  color:#F2CEE6;
}





.contactSection {
  background-image: url('./images/night4.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contactTitleContainer {
  text-align: center;
  color: white;
  position: absolute;
  top: 35px;
}

.contactMe {
  color: white;
  text-align: center;
}

.emailPhone {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.email {
  color: white;
  margin-left: .8rem;
  text-decoration: none;
  font-size: 30px;
}

.email:hover{
  color:#F2CEE6;
}

.star {
  position: absolute;
  top: 1px;
  right: 2px;
  width:5px;
  height: 5px;
  opacity: .7;
  animation: blaze 4s infinite linear;
}

@keyframes blaze {
  0%{
    top:0%;
    right:0%;
  }
  10%{
    top: 10%;
    right: 10%;
  }
  20%{
    top: 20%;
    right: 20%;
  }
  100% {
    top: 100%;
    right: 100%;
    opacity: .1;
  }
}



@media only screen 
  and (min-width: 319px) 
  and (max-width: 550px){
    .mainTitle {
      font-size: 30px;
    }
    .subTitle {
      font-size: 24px;
    }
    .navBar {
      top: 0;
      width: 100%;
      background-color: rgba(13, 27, 30, 0.563);
    }
    .navList {
      margin: 0;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 50px;

    }
    .navItem {
      margin: 0 1rem;
    }
    .aboutSection {
      height: 100%;
    }
    .aboutContainer {
      width: 90%;
    }
    .hr-text {
      font-size: 28px;
    }
    .picContainer{
      justify-content: center;
    }
    .profilePic {
      width: 250px;
      height: 250px;
    }
    .skillList{
      padding-left:2rem;
      padding-right: 2rem;
    }
    .card{
      width: 100%;
    }
    .projectPic{
      width: 100%;
    }
    .imgOverlay{
      width:100%;
    }
    .projectsContainer{
      width: 100%;
    }
  }


  @media only screen 
  and (max-width: 1535px){
    .aboutSection{
      height: 100%;
    }
    .skillsSection {
      height: 100%;
    }
    .picContainer{
      justify-content: center;
    }
  }